*{
  box-sizing: border-box;
  margin:0;
  padding:0
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
.btn{
  padding: 0 1.25rem;
  height: 50%;
}

main{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: #01dd94;
  padding: 1.25rem;
}
.board{
  width: 31.25rem;
  height: 31.25rem;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.board-number{
  width: calc(100%/10);
  height: calc(100%/10);
  border: 0.063rem solid black;
  padding: 1rem;
  text-align: center;
}